<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberTestNGforMavenProject">
  <test name="Test">
    <classes>
      <class name="src.test.java.com.qa.runner.TestRunner.java"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- CucumberTestNGforMavenProject -->

      